.head {
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: 5px;
    position: relative;
    left: 500px;
    top: 200px; 

}

.subtitle {
    font-family: 'Poppins',sans-serif;
    font-weight: 200;
    font-size: 22px;
    line-height: 40px;
    word-spacing: 1px;
    position: relative;
    left: 500px;
    top: 200px; 
    -webkit-font-smoothing: antialiased;
}

.footer {
    font-family: 'Poppins',sans-serif;
    position: fixed; 
    font-size: 12px;
    font-weight: 300;
    color: #9da6ba;
    display: block;
    left: 500px;
    top: 850px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #9da6ba;
}

a:hover {
    color: #20abee;
}

a:active {
    color: #9da6ba;
}

