.head {
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 55px;
    line-height: 40px;
    letter-spacing: 5px;
    position: fixed;
    left: 27%;
    top: 20%; 

}

.subtitle {
    font-family: 'Poppins',sans-serif;
    font-weight: 200;
    font-size: 22px;
    line-height: 40px;
    word-spacing: 1px;
    position: relative;
    left: 27%;
    top: 300px;
    -webkit-font-smoothing: antialiased;
}

.sponsor {
    font-family: 'Poppins',sans-serif;
    font-weight: 200;
    font-size: 22px;
    line-height: 40px;
    word-spacing: 1px;
    position: relative;
    left: 60%;
    top: 300px;
    -webkit-font-smoothing: antialiased;

}

.footer {
    font-family: 'Poppins',sans-serif;
    position: fixed; 
    font-size: 12px;
    font-weight: 300;
    color: #9da6ba;
    display: block;
    position: fixed;
    left: 27%;
    top: 90%;
}

a {
    text-decoration: none;
}

a:visited {
    color: #9da6ba;
}

a:hover {
    color: #20abee;
}

a:active {
    color: #9da6ba;
}

