table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  width: 50%;  
  position: fixed;
  top: 22%;
  left: 22%;
}


td, th {
  border: 1px solid rgb(250, 250, 250);
  padding: 10px 20px;
}

th {
}
