body {
  font-family: 'Poppins', sans-serif; 
  font-weight: 300;
  font-size: 14px;
  position: fixed;
  top: 25%;
  left: 22%;
  width: 50%;
}

.ReactTable .rt-thead {
  overflow-y: scroll;
  position: fixed;
  top: 22%;
  left: 22%;
  width: 50%;
}
