.header {
    font-weight: 500;
    font-size: 48px;
    margin-top: 16px;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 1px;
    position: fixed;
    left: 27%;
    top: 20%; 
}

.content {
    font-weight: 500;
    font-size: 18px;
    line-height: 42px;
    letter-spacing: 1px;
    font-family: 'Poppins',sans-serif;
    position: relative; 
    left: 27%;
    top: 300px; 
}


