.App-header {
  background-color: #f7fbfb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.head {
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 40px;
    letter-spacing: 5px;
    position: relative;
    left: 500px;
    top: 250px; 

}

.subtitle {
    font-family: 'Poppins',sans-serif;
    font-weight: 200;
    font-size: 22px;
    line-height: 40px;
    word-spacing: 1px;
    position: relative;
    left: 500px;
    top: 250px; 

}

a {
    text-decoration: none;
}

a:visited {
    color: #9da6ba;
}

a:hover {
    color: #20abee;
}

a:active {
    color: #9da6ba;
}

